@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-heading: var(--font-jakarta);
  --font-inter: var(--font-inter);

  --color-brand-green: #5f7d5a;
  --color-brand-gold: #e9b93c;
  --color-brand-cream: #fbf3d2;
  --color-brand-dark: #2c4a2e;
}

html,
body {
  background: #ffffff;
  color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
